<div class="container" (addobject)="onAddObject($event)" (updateobject)="onUpdateObject($event)" (removeobject)="onRemoveObject($event)">
  <div class="welcome-screen" *ngIf="!currentStep">
    <img src="./assets/LocationFinderLogo.png" />
  </div>

  <app-map [class.hidden]="showCanvas" (selectFeature)="onSelectFeature($event)" (deselectFeatures)="onDeselectFeatures($event)" (toggleLockFeature)="onToggleLockFeature($event)"></app-map>

  <app-canvas *ngIf="showCanvas" [targetCriteria]="analysisService.targetCriteria" [activeMarkers]="activeMarkers"></app-canvas>

  <div *ngIf="showSliders" class="sliders">
    <div *ngFor="let axis of analysisService.targetCriteria.axes" class="slider-container">
      <span class="slider-label">{{ axis.displayName }}: {{ axis.sliderValue }}</span>
      <input type="range" min="0" max="{{ analysisService.maxValues[axis.name] }}" [value]="axis.sliderValue" class="slider" (input)="onSliderInput(axis, $event)" />
      <div class="slider-thumb-container">
        <div class="slider-thumb" [style.left]="100 * axis.value + '%'" [style.backgroundColor]="'rgb(' + axis.color + ')'"></div>
      </div>
    </div>
  </div>

  <nav class="progress-slider">
    <div *ngFor="let step of steps" [attr.id]="'step' + step" class="progress-field" [class.selected]="step === currentStep" (click)="setStep(step)" (addobject)="onUpdateObject($event)" (updateobject)="onUpdateObject($event)">{{ step }}</div>
  </nav>
</div>
